<div class="preloader">
    <div class="d-table">
        <div class="d-table-cell">
@*            <img src="/assets/images/preloder-img.png" style="width: 100px;height: 100px" alt="Images">
*@            <img src="/assets/images/preload_estate (2).jpg"  style="width: 150px;height: 150px" alt="Images">
            <h2>املاک مهدی</h2>
        </div>
    </div>
</div>