
@{
    ViewData["Title"] = "NotFound";
}

<div class="error-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="error-content">
                <h1>4 <span>0</span> 4</h1>
                <h3>صفحه مورد نظر یافت نشد</h3>
                <p>صفحه ای که به دنبال آن هستید ممکن است در صورت تغییر نام حذف شده باشد یا به طور موقت در دسترس نباشد </p>
                <a href="/" class="default-btn btn-bg-three">
                    بازگشت به صفحع اصلی
                </a>
            </div>
        </div>
    </div>
</div>

