@page "{id}"
@using DataLayer.Entities.Estate
@model MyEstate.Areas.Manage.Pages.Estates.EditEstateModel
@{
        ViewData["Title"] = "ویرایش ملک";
}



<div class="checkout-area pt-100 pb-70">

    <div class="container">
        <div class="row">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-6">
                <div class="checkout-form">
                    <div class="contact-form">
                        <h2>ویرایش ملک</h2>
                        <form method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Estate.EstateId"  />
                            <input type="hidden" asp-for="Estate.EstateImages"  />
                            <input type="hidden" asp-for="Estate.DemoFileName"  />

                     

                            <div class="form-group">
                                <input type="file" name="imgEstate" id="imgEstate" multiple="" />
                                <p>لطفا  تصاویر ملک انتخاب کنید</p>
                                <img class="thumbnail" src=""  style="max-width: 150px" />
                            </div>
                            
                            
                            <div class="form-group">
                                <input type="file" name="imgDemo" id="imgDemo" />
                                <p>لطفا عکس پروفایل ملک انتخاب کنید</p>
                                <img class="thumbnail" src="/State/Demos/@Model.Estate.DemoFileName"  />
                            </div>

                            <div class="form-group">
                                <label asp-for="Estate.EstateTitle" class="control-label"></label>
                                <input asp-for="Estate.EstateTitle" class="form-control" />
                                <span asp-validation-for="Estate.EstateTitle" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group">
                                <label class=" form-control-label"><strong>نوع ملک</strong></label>
                                <select class="form-control" asp-for="Estate.EstateTypeId" asp-items="@(ViewData["EstateType"] as  SelectList)"></select>
                                <span asp-validation-for="Estate.EstateTypeId"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Estate.TotalArea" class="control-label"></label>
                                <input asp-for="Estate.TotalArea" class="form-control" />
                                <span asp-validation-for="Estate.TotalArea" class="text-danger"></span>
                            </div>
                            
                            
                            <div class="form-group">
                                <label asp-for="Estate.BuildingArea" class="control-label"></label>
                                <input asp-for="Estate.BuildingArea" class="form-control" />
                                <span asp-validation-for="Estate.BuildingArea" class="text-danger"></span>
                            </div>
                            
                            
                            <div class="form-group">
                                <label asp-for="Estate.NumberOfRoom" class="control-label"></label>
                                <input asp-for="Estate.NumberOfRoom" class="form-control" />
                                <span asp-validation-for="Estate.NumberOfRoom" class="text-danger"></span>
                            </div>
                            
                            
                            <div class="form-group">
                                <label asp-for="Estate.Price" class="control-label"></label>
                                <input asp-for="Estate.Price" class="form-control" />
                                <span asp-validation-for="Estate.Price" class="text-danger"></span>
                            </div>
                            
                            
                           @* <div class="form-group">
                                <label asp-for="Estate.EstateFeatures" class="control-label"></label>
                                <input asp-for="Estate.EstateFeatures" class="form-control" />
                                <input type="submit" asp-page-handler="AddFeature" class="form-control" />

                                <span asp-validation-for="Estate.EstateFeatures" class="text-danger"></span>
                            </div>*@
                            
                            
                           
                           
                            <div class="col-lg-12 ">
                                <button type="submit" class="default-btn btn-bg-three">
                                    ویرایش
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>