
@{
    ViewData["Title"] = "درباره ما";
}

<div class="about-area pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="assets/images/aboutus.jpg" alt="About Images">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-title">
                        <h2>ما یکی از بهترین و پیشروترین مشاوره های املاک  هستیم</h2>
                        <p>
                            این مجموعه از تعدادی مشاور با  تجربه و حرفه ای تشکیل شده که بهترین مشاوره در زمینه املاک 
                            را میتوانند به شما ارائه دهند
                        </p>
                       
                    </div>
                </div>
            </div>
                    
        </div>
    </div>
</div>
<div class="team-area pb-70">
            <div class="container">
                <div class="section-title text-center">
                    <h2>مشاوران ما</h2>
                </div>
                <div class="row pt-45">
                    <div class="col-lg-4 col-md-6">
                        <div class="team-card">
                            <a href="team.html">
                                <img src="assets/images/team/profile.jpg"  alt="Team Images">
                            </a>
                            <ul class="social-link">
                                <li>
                                    <a href="#" target="_blank"><i class="bx bxl-facebook"></i></a>
                                </li> 
                                <li>
                                    <a href="#" target="_blank"><i class="bx bxl-twitter"></i></a>
                                </li> 
                                <li>
                                    <a href="#" target="_blank"><i class="bx bxl-instagram"></i></a>
                                </li> 
                                <li>
                                    <a href="#" target="_blank"><i class="bx bxl-youtube"></i></a>
                                </li> 
                            </ul>
                            <div class="content">
                                <h3><a href="team.html">Adam Smith</a></h3>
                                <span>Ecommerce specilist</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="team-card">
                            <a href="team.html">
                                <img src="assets/images/team/profile.jpg"  alt="Team Images">
                            </a>
                            <ul class="social-link">
                                <li>
                                    <a href="#" target="_blank"><i class="bx bxl-facebook"></i></a>
                                </li> 
                                <li>
                                    <a href="#" target="_blank"><i class="bx bxl-twitter"></i></a>
                                </li> 
                                <li>
                                    <a href="#" target="_blank"><i class="bx bxl-instagram"></i></a>
                                </li> 
                                <li>
                                    <a href="#" target="_blank"><i class="bx bxl-youtube"></i></a>
                                </li> 
                            </ul>
                            <div class="content">
                                <h3><a href="team.html">Max Angles</a></h3>
                                <span>Manager</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                        <div class="team-card">
                            <a href="team.html">
                                <img src="assets/images/team/profile.jpg" alt="Team Images">
                            </a>
                            <ul class="social-link">
                                <li>
                                    <a href="#" target="_blank"><i class="bx bxl-facebook"></i></a>
                                </li> 
                                <li>
                                    <a href="#" target="_blank"><i class="bx bxl-twitter"></i></a>
                                </li> 
                                <li>
                                    <a href="#" target="_blank"><i class="bx bxl-instagram"></i></a>
                                </li> 
                                <li>
                                    <a href="#" target="_blank"><i class="bx bxl-youtube"></i></a>
                                </li> 
                            </ul>
                            <div class="content">
                                <h3><a href="team.html">Park Anderson</a></h3>
                                <span>Sales Executive</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

